services:
  backend:
    build: .
    ports:
      - "8004:8000"
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - koberp-network
    restart: unless-stopped


volumes:
  ollama-data:

networks:
  koberp-network:
    external: true
    name: koberp-document-service_koberp-network
