services:
  sales-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: koberp-sales-service
    ports:
      - 8086:8080
    environment:
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - SERVER_PORT=${SERVER_PORT}
      - SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:${DB_PORT}/${DB_NAME}?currentSchema=${DB_SCHEMA}
      - SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=https://${AUTH0_DOMAIN}/
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_AUDIENCES=${AUTH0_AUDIENCE}
      - AUTH0_DOMAIN=${AUTH0_DOMAIN}
      - AUTH0_AUDIENCE=${AUTH0_MANAGEMENT_AUDIENCE}
      - AUTH0_CLIENT_ID=${AUTH0_CLIENT_ID}
      - AUTH0_CLIENT_SECRET=${AUTH0_CLIENT_SECRET}
      - MINIO_URL=http://host.docker.internal:9000
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - MINIO_BUCKET_NAME=${MINIO_BUCKET_NAME}
      - MINIO_AUTO_CREATE_BUCKET=true
    networks:
      - koberp-network
    restart: unless-stopped
networks:
  koberp-network:
    driver: bridge